#frame {
  width: 700px;
  height: 700px;
}

.widget {
  position: absolute;
}

#world {
  left: 300px;
  top: 40px;
}

#world canvas {
  background-color: transparent; 
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px;
}

#patchCanvas {
  z-index: 0;
}

#turtleCanvas {
  z-index: 1;
}